<html>
    <body>
        <form action="/projects/registrasi" method="post">
            <input type="text" name="Title"><br>
            <input type="text" name="CostumerId"><br>
            <select name="CategoryId">
                <%categories.forEach(category=>{%>
                    <option value="<%=category.id%>"><%=category.Nama%></option>
                <%})%>
            </select>
            <br>
            <%fiturs.forEach(fitur=>{%>
                <input type="checkbox" name="<%=fitur.id%>"><%=fitur.Nama%> </input>
            <%})%> 
            <input type="submit" value="submit">
        </form>
    </body>
</html>